:root{
    --page-spacing: 24px;
    --font-size:    16px;
}

.boxes:hover{
	background-color: rgb(128, 122, 52);
	border: none;
	color: rgb(240, 224, 204);
	cursor: pointer;
	transform: scale(1.03);
	transition: all 0.4s ease;
}

.boxes:hover > a {
	color: rgb(240, 224, 204);
}


body{
    font-size: var(--font-size);
    font-family: korolev, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: rgb(128, 122, 52);
}


h1{
    font-size: calc(var(--font-size) * 3);
    color: rgb(240, 224, 204);
}

h2{
    font-size: calc(var(--font-size) * 2);
}

div{
    color: rgb(240, 224, 204);
}

h4{
    color: rgb(240, 224, 204);
    user-select: none;
}

p{ max-width: 80ch; }

h:not(first-child),
p:not(first-child){
    margin-top: var(--font-size);
}


header,
nav,
article,
head,
aside,
footer {
    padding: var(--page-spacing);

}

header,
footer{
    background-color: rgb(128, 122, 52);
    z-index: 999;
}

h3{
    margin-left: 22px;
    font-weight: bold;
    font-size: 50px;
}

nav,
aside,
body{
    background-color: rgb(240, 224, 204);
}

nav{
    font-size: 15px;
    color: cornflowerblue;
}

.right{
    text-align: right;
    position: relative;
    bottom: 18.8px;
}
.img1{
    margin: 20px;
 }
 .img2{
    margin: 20px;
 }


       @media ( max-width: 380px )
       {
           .directbox {
               width: 200px; 
               text-align: center;
               font-size: 25px;
               border: solid rgb(128, 122, 52);
               border-radius: 10px;
               color: rgb(128, 122, 52);
               height: 40px;
               white-space: nowrap;
               padding-bottom: 58px;
       
             }
       
             .wrapper{
               display: flex;
               height:400px;
               flex-flow: column;
               align-content: center;
               margin-bottom: 55px;
               margin-left: -29px;
           }
       
             .boxes {
               color: rgb(128, 122, 52);
               width: 380px;
               margin: auto;
               text-align: center;
               line-height: 35px;
               font-size: x-large;
               border: solid rgb(128, 122, 52);
               padding: 1em;
               font-size: 10px;
               font-weight: bold;
               flex: 1;
             }
       
               .boxes:hover{
                   background-color: rgb(128, 122, 52);
                   border: none;
                   color: rgb(240, 224, 204);
                   cursor: pointer;
                   transform: scale(1.03);
                   transition: all 0.4s ease;
               }
       
               .boxes:hover > a {
                   color: rgb(240, 224, 204);
               }
       
               .bigger{
                   font-size: 35px;
                   text-align: center;
                   display: flex;
                   flex-flow: column;
                   align-content: left;
                   margin-bottom: -33px;
                   margin-left: -300px;
                   z-index: 9999;
       
                  }
           }

@media ( min-width: 381px )
{
    .directbox {
        width: 600px; 
        text-align: center;
        font-size: 25px;
        border: solid rgb(128, 122, 52);
        border-radius: 10px;
        color: rgb(128, 122, 52);
        height: 40px;
        white-space: nowrap;
        padding-bottom: 58px;
    
      }
    
    
    
      .wrapper{
        display: flex;
        height:400px;
        width: 600px;
        flex-flow: column;
        flex-direction: column-reverse;
        align-content: center;
        margin-bottom: 55px;
        margin-left: -29px;
        overflow-y: auto;
        transform: rotate(90deg);
    }
    
      .boxes {
        color: rgb(128, 122, 52);
        width: 380px;
        height: 400px;
        margin: auto;
        text-align: center;
        line-height: 35px;
        font-size: x-large;
        border: solid rgb(128, 122, 52);
        padding: 1em;
        font-size: 10px;
        font-weight: bold;
        flex: 1;
      }
    
        .boxes:hover{
            background-color: rgb(128, 122, 52);
            border: none;
            color: rgb(240, 224, 204);
            cursor: pointer;
            transform: scale(1.03);
            transition: all 0.4s ease;
        }
        
        .boxes:hover > a {
            color: rgb(240, 224, 204);
        }
    
        .bigger{
            font-size: 35px;
            text-align: center;
            display: flex;
            flex-flow: column;
            align-content: left;
            margin-bottom: -33px;
            margin-left: -300px;
            z-index: 9999;
            transform: rotate(-90deg);
           }
    
           @keyframes travel {

            0% {
                opacity: 1;
            }
        
            50% {
                opacity: 0;
            }
        
            100% {
                opacity: 1;
            }
        }
        
       section {
            animation: travel 5s infinite ease-in-out;
        }

        .greenagain{
            color: rgb(128, 122, 52);
        }

}