:root{
    --page-spacing: 24px;
    --font-size:    16px;
}

@media ( min-width: 1080px )
{
    :root{
        --page-spacing: 36px;
        --font-size:    24px;
    }
    body{
        display: flex;
     }

}

body{
    font-size: var(--font-size);
    font-family: 'Courier New', Courier, monospace;
    color: rgb(86, 104, 144) ;
}


h1{
    font-size: calc(var(--font-size) * 4);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: italic;
    color: rgb(241, 236, 222);
}

h2{
    font-size: calc(var(--font-size) * 2);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div{
    color: rgb(241, 236, 222);
}

h4{
    color: rgb(241, 236, 222);
    user-select: none;
}

p{ max-width: 80ch; }

h:not(first-child),
p:not(first-child){
    margin-top: var(--font-size);
}


header,
nav,
article,
head,
aside,
footer {
    padding: var(--page-spacing);

}

header,
footer{
    background-color: rgb(86, 104, 144) ;
}

h3{
    margin-left: 22px;
    font-weight: bold;
    font-size: 50px;
}

nav,
aside,
body{
    background-color: rgb(241, 236, 222);
}

nav{
    font-size: 15px;
    color: cornflowerblue;
}

@media ( min-width: 1080px )
{
    main{
        display: flex;
        flex-direction:column;
        height: 100%;
        width: 100%
        
    }
    header{
        border-bottom: none;
        width: 20%;
    }

    nav{
        width: 40%;
        font-size: 8px;
    }

    article{
        flex-grow: 1;
        justify-content:left;
        align-items: center;
    
    }
    nav{
        font-size: 20px;
    }
    h1{
        font-size: calc(var(--font-size) * 1.5);
    }
    .right{
        text-align: right;
        position: relative;
        top: 20px
    }
    .img1{
        margin: 20px;
     }
     .img2{
        margin: 20px;
     }

     body{
        font-size: 12pt;
     }
} 

.right{
    text-align: right;
    position: relative;
    bottom: 18.8px
}
.img1{
    margin: 20px;
 }
 .img2{
    margin: 20px;
 }